ul{
    list-style-type: none;
}
.navlink{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navlink li{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .navlink li a{
    text-decoration: none;
} */